<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define Chestnut Pro_TargetDir=$(var.Chestnut Pro.TargetDir)?>
	<Product Id="*" Name="Chestnut Pro" Language="1033" Version="1.0.1.0" Manufacturer="Aaron Yeoh" UpgradeCode="ffc623e1-cbc5-4525-a81b-8e8fb65ce8ea">
		<!-- Package -->
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<!-- Upgrade -->
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of Chestnut Pro is already installed." />
		<MediaTemplate EmbedCab="yes" />
		<!-- Dialog UI -->
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<!-- Install Directory -->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<!-- License -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\resource\MIT-license.rtf" />
		<!--<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Images\banner.bmp" />-->
		<!--<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Images\dialog.bmp" />-->
		<!-- Icon -->
		<!--<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)Images\icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />-->
		<!-- Exit Text-->
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing this product." />
		<!-- Custom Action: launch after installation -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch CrowdCrawler immediately" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
		<Property Id="WixShellExecTarget" Value="[#CrowdCrawlerWorker.exe]" />
		<CustomAction Id="LaunchApplication" FileKey="Chestnut_Pro.exe" Return="asyncNoWait" Impersonate="no" ExeCommand="" />
		<!-- Feature -->
		<Feature Id="ProductFeature" Title="ChestnutPro" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="DataFileComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<!-- Directory: install related folder -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="ChestnutPro">
					<Directory Id="DataFolder" Name="Data" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Chestnut Pro" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Chestnut_Pro.exe" Guid="E32E3749-B207-41A7-B3D8-7150CB99D588">
				<File Id="Chestnut_Pro.exe" Name="Chestnut Pro.exe" Source="$(var.Chestnut Pro_TargetDir)Chestnut Pro.exe" />
			</Component>
			<Component Id="Chestnut_Pro.dll" Guid="48AE2CD4-7F11-4C40-AE16-0A5301C60AAA">
				<File Id="Chestnut_Pro.dll" Name="Chestnut Pro.dll" Source="$(var.Chestnut Pro_TargetDir)Chestnut Pro.dll" />
			</Component>
			<Component Id="MaterialDesignThemes.Wpf.dll" Guid="17aedb08-8e05-416f-925f-e60db8d7908c">
				<File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.Chestnut Pro_TargetDir)MaterialDesignThemes.Wpf.dll" />
			</Component>
			<Component Id="ICSharpCode.AvalonEdit.dll" Guid="58e8d8a4-2eb3-4b30-86cc-df2f96915b1d">
				<File Id="ICSharpCode.AvalonEdit.dll" Name="ICSharpCode.AvalonEdit.dll" Source="$(var.Chestnut Pro_TargetDir)ICSharpCode.AvalonEdit.dll" />
			</Component>
			<Component Id="LiveCharts.Wpf.dll" Guid="6bed7ee0-2f30-4c96-90c6-21a9aac172be">
				<File Id="LiveCharts.Wpf.dll" Name="LiveCharts.Wpf.dll" Source="$(var.Chestnut Pro_TargetDir)LiveCharts.Wpf.dll" />
			</Component>
			<Component Id="LiveCharts.dll" Guid="2f8fb89b-50f6-459b-b048-1cc6e4c68ca1">
				<File Id="LiveCharts.dll" Name="LiveCharts.dll" Source="$(var.Chestnut Pro_TargetDir)LiveCharts.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="27c20043-3100-4123-9264-bf81c72e70bc">
				<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Chestnut Pro_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="MaterialDesignColors.dll" Guid="badf9f57-750f-4057-83d5-69a6e44ac20c">
				<File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.Chestnut Pro_TargetDir)MaterialDesignColors.dll" />
			</Component>
			<Component Id="Chestnut_Pro.runtimeconfig.json" Guid="16d66774-6cbe-4fa4-bb86-0cd49fa173d9">
				<File Id="Chestnut_Pro.runtimeconfig.json" Name="Chestnut Pro.runtimeconfig.json" Source="$(var.Chestnut Pro_TargetDir)Chestnut Pro.runtimeconfig.json" />
			</Component>
			<Component Id="Microsoft.Web.WebView2.Core.dll" Guid="d2bd68d6-1444-4247-b6d6-01500eb49265">
				<File Id="Microsoft.Web.WebView2.Core.dll" Name="Microsoft.Web.WebView2.Core.dll" Source="$(var.Chestnut Pro_TargetDir)Microsoft.Web.WebView2.Core.dll" />
			</Component>
			<Component Id="Microsoft.Web.WebView2.WinForms.dll" Guid="2402cb69-3a2e-4afb-86b0-00021d548a6e">
				<File Id="Microsoft.Web.WebView2.WinForms.dll" Name="Microsoft.Web.WebView2.WinForms.dll" Source="$(var.Chestnut Pro_TargetDir)Microsoft.Web.WebView2.WinForms.dll" />
			</Component>
			<Component Id="Microsoft.Web.WebView2.Wpf.dll" Guid="999f7f6a-6d6c-43b2-a305-9c0d6ad7a334">
				<File Id="Microsoft.Web.WebView2.Wpf.dll" Name="Microsoft.Web.WebView2.Wpf.dll" Source="$(var.Chestnut Pro_TargetDir)Microsoft.Web.WebView2.Wpf.dll" />
			</Component>
			<Component Id="WebView2Loader.dll" Guid="57765638-bdb6-4073-ab21-3df1b26248df">
				<File Id="WebView2Loader.dll" Name="WebView2Loader.dll" Source="$(var.Chestnut Pro_TargetDir)\runtimes\win-x64\native\WebView2Loader.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<!-- .ini File Components-->
	<Fragment>
		<ComponentGroup Id="DataFileComponents" Directory="DataFolder">
			<Component Id="Data.json" Guid="ACA72C4F-6364-4EBF-99BC-3F96ABA935D4">
				<File Id="Data.json" Name="Data.json" Source="$(var.Chestnut Pro_TargetDir)\Data\Data.json" />
			</Component>
			<Component Id="sankeydemo.csv" Guid="d8e005a7-f5fa-4f81-be93-0709b8307124">
				<File Id="sankeydemo.csv" Name="sankeydemo.csv" Source="$(var.Chestnut Pro_TargetDir)\Data\sankeydemo.csv" />
			</Component>
			<Component Id="template.html" Guid="9b241bf6-441f-454a-a61d-077c63cc941f">
				<File Id="template.html" Name="template.html" Source="$(var.Chestnut Pro_TargetDir)\Data\template.html" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<!-- Settings -->
	<Fragment>
		<!-- Shortcut: start menu -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="E041EED7-85F2-4C4C-8F47-EE4AE6C68DEF">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Chestnut Pro" Description="Useful Tools" Target="[INSTALLFOLDER]Chestnut Pro.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Chestnut Pro" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<!-- Shortcut: desktop -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="B6AA4779-7638-4B69-A275-42B6D1B80BF8">
				<Shortcut Id="ApplicationStartDesktopShortcut" Name="Chestnut Pro" Description="Useful Tools" Target="[INSTALLFOLDER]Chestnut Pro.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Chestnut Pro" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
